html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none; }

.hero-text {
  max-width: 700px;
  margin: auto;
  text-align: center; }

.hero-text h1::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  margin: 23px auto 0px;
  background: #2e2e2f; }

.recipe-container {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  position: relative; }

.img-wrapper {
  position: relative;
  height: 430px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

.recipe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }

.recipe-container:hover
.recipe-overlay {
  opacity: 1; }

.recipe-container:hover
.recipe-content {
  opacity: 1; }

.recipe-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  opacity: 0;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
  .recipe-content h4 {
    font-family: brandon-grotesque;
    font-weight: 500;
    color: white;
    font-size: 17px;
    letter-spacing: 5.25px;
    text-transform: uppercase;
    text-align: center;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 22px;
    padding-right: 22px; }

.pin-btn {
  background-color: #c7242e;
  width: 157px;
  height: 35px;
  padding-left: 0;
  padding-top: 2px;
  letter-spacing: 2.5px;
  border-radius: 2px;
  text-transform: uppercase;
  margin: 1px auto;
  cursor: pointer;
  transition: background-color .4s ease;
  color: #fff; }
  .pin-btn h5 {
    position: relative;
    top: -6.2px;
    font-family: "brandon-grotesque";
    font-weight: 500;
    font-size: 9px;
    line-height: 33px;
    text-decoration: none; }
    .pin-btn h5 :hover {
      text-decoration: none; }

.img-mobile {
  display: none; }

@media (min-width: 768px) and (max-width: 991px) {
  .recipe-content h4 {
    font-size: 12.75px;
    letter-spacing: 4.5px;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px; } }
@media (max-width: 768px) {
  body {
    padding-right: 0;
    padding-left: 0;
    position: absolute; }

  .hero-text {
    width: 90%; }

  .img-wrapper,
  .recipe-overlay {
    display: none; }

  .img-mobile {
    position: relative;
    display: block;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    margin-top: 20px; }

  .recipe-content {
    opacity: 1;
    position: relative;
    top: 65px;
    padding: 10px 0px 20px 0px;
    border-bottom: solid #eee; }
    .recipe-content h4 {
      color: black;
      font-size: 30px;
      letter-spacing: 1px;
      text-transform: none; }

  .recipe-container {
    margin: auto;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative; } }

/*# sourceMappingURL=style.css.map */
